.page-header
  .container
    .row-fluid
      .title
        Picture Stories
    .row-fluid
      .container
        .form-container
          = form_for @upload, url: upload_path, class: 'form-group' do |form|
            = form.label :upload_an_image!
            = form.file_field :image, class: 'form-control'
            = form.submit 'upload', class: 'form-control btn btn-primary'

.container
  .row
    - @phrases.each do |p|
      .col-sm-4
        .jumbotron
          .text-center
            .uploaded_time
              Uploaded on
              = p.upload.image_updated_at.strftime("%B %d, %Y")
              <br>
              <br>
            .image

              = link_to image_tag(p.upload.image.url(:thumb), class: 'img-rounded'), p.upload.image.url(:medium)
              <br>
              <br>
            .phrase
              = p.content
              <br>
